body{
	font: 400 18px Lato, sans-serif;
	background-color: #353535;
}

body > .container{
	background-color: #DDDDDD;
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 12px rgba(0,0,0,0.45);
	border-radius: 5px;
}

#profileImageNode {
	width:100%;
	padding-top:5%;
}

ul.normal {
	list-style: none;
	padding: 0px;
	margin: 0px;
}